// Portfolio Item 4
.col-md-6.col-lg-4.portfolio-item
  .mx-auto(data-bs-toggle="modal" data-bs-target="#portfolioModal4")
    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
      .portfolio-item-caption-content.text-center.text-white
        i.fas.fa-plus.fa-3x
    img.img-fluid(src="assets/img/portfolio/differential_expression.png" alt="Differential Expression Analysis")
    p.keywords
      span Transcriptomics
      span Differential Expression
      span RNA-Seq
      span DESeq2