// Portfolio Item 5
.col-md-6.col-lg-4.portfolio-item
  .mx-auto(data-bs-toggle="modal" data-bs-target="#portfolioModal5")
    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
      .portfolio-item-caption-content.text-center.text-white
        i.fas.fa-plus.fa-3x
    img.img-fluid(src="assets/img/portfolio/ORA_gProfiler.png" alt="Overlap Enrichment Analysis")
    p.keywords
      span Transcriptomics
      span RNA-Seq
      span Functional Enrichment
      span Overlap Enrichment Analysis
      span Gene Ontology
      span GO
      span.hidden g:Profiler