// Portfolio Item 1
.col-md-6.col-lg-4.portfolio-item
  .mx-auto(data-bs-toggle="modal" data-bs-target="#portfolioModal1")
    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
      .portfolio-item-caption-content.text-center.text-white
        i.fas.fa-plus.fa-3x
    img.img-fluid(src="assets/img/portfolio/qc.png" alt="Quality Control using MultiQC")
    p.keywords
      span Quality Control
      span MultiQC
      span.hidden fastqc
      span.hidden RNA-Seq
      span.hidden ChIP-Seq
      span.hidden ATAC-Seq
      span.hidden WGS
      span.hidden WES
      span.hidden RNA-Seq
      span.hidden scRNA-Seq
      span.hidden CITE-Seq
      span.hidden ChIP-Seq
      span.hidden ATAC-Seq
      span.hidden Hi-C
      span.hidden Bisulfite-Seq
      span.hidden RRBS
      span.hidden EM-Seq
      span.hidden MNase-Seq