.col-md-6.col-lg-4.portfolio-item
  .mx-auto(data-bs-toggle="modal" data-bs-target="#portfolioModalCITESeq")
    .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
      .portfolio-item-caption-content.text-center.text-white
        i.fas.fa-plus.fa-3x
    img.img-fluid(src="assets/img/portfolio/CITE-Seq.png" alt="CITE-Seq Analysis")
    p.keywords
      span Transcriptomics
      span CITE-Seq
      span Illumina
      span.hidden Single Cell

div.portfolio-modal.modal.fade(id="portfolioModalCITESeq" tabindex="-1" aria-labelledby="portfolioModalCITESeqLabel" aria-hidden="true")
  .modal-dialog.modal-xl
    .modal-content
      .modal-header.border-0
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body.text-center.pb-5
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModalCITESeqLabel CITE-Seq Analysis
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-star
                .divider-custom-line
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5(src="assets/img/portfolio/CITE-Seq.png" alt="...")
              // Portfolio Modal - Text
              p.mb-4 Cellular Indexing of Transcriptomes and Epitopes by Sequencing (CITE-Seq) is a powerful technique that combines single-cell RNA sequencing (scRNA-Seq) with protein marker detection, providing insights into both gene expression and protein abundance at the single-cell level. This method involves labeling cells with oligonucleotide-tagged antibodies, sequencing the RNA and antibody tags, and mapping the sequences to a reference genome or transcriptome.
              p.mb-4 Bioinformatics services I can provide from CITE-Seq data include:
              ul
                li Data preprocessing: Quality control, filtering, and trimming of raw sequencing reads.
                li Read alignment: Mapping short reads to a reference genome or transcriptome.
                li Cell clustering: Grouping cells based on their gene expression and protein marker profiles.
                li Differential expression analysis: Identifying genes and proteins with significant changes in expression between cell clusters or conditions.
                li Cell type identification: Annotating cell clusters with known cell types based on marker genes and proteins.
                li Trajectory analysis: Inferring developmental lineages and cell state transitions.
                li Integration with other omics data: Combining CITE-Seq data with other types of data (e.g., proteomics, epigenomics) for multi-omics analysis.
                li Custom pipeline development: Developing tailored bioinformatics pipelines for specific research questions.
                li Visualization: Creating visual representations of single-cell data and results.
              button.btn.btn-primary(data-bs-dismiss="modal")
                i.fas.fa-times.fa-fw
                | Close Window