.tab-pane.fade.show.active#discipline(role='tabpanel' aria-labelledby='discipline-tab')
    .keyword-category
        +portfolioButton('Transcriptomics')
        +portfolioButton('Genomics')
        +portfolioButton('Epigenomics')
        +portfolioButton('Proteomics')
        +portfolioButton('Metabolomics')
        +portfolioButton('Metagenomics')
        +portfolioButton('Cheminformatics')
        +portfolioButton('Machine learning')
        +portfolioButton('Software Development')
.tab-pane.fade#technology(role='tabpanel' aria-labelledby='technology-tab')
    .keyword-category
        +portfolioButton('Illumina')
        +portfolioButton('Nanopore')
        +portfolioButton('PacBio')
        +portfolioButton('Bionano')
        +portfolioButton('MethylationEPIC')
.tab-pane.fade#technique(role='tabpanel' aria-labelledby='technique-tab')
    .keyword-category
        +portfolioButton('WGS')
        +portfolioButton('WES')
        +portfolioButton('RNA-Seq')
        +portfolioButton('scRNA-Seq')
        +portfolioButton('CITE-Seq')
        +portfolioButton('ChIP-Seq')
        +portfolioButton('ATAC-Seq')
        +portfolioButton('Hi-C')
        +portfolioButton('WGBS')
        +portfolioButton('RRBS')
        +portfolioButton('EM-Seq')
        +portfolioButton('MNase-Seq')
        +portfolioButton('OGM')
    p Techniques are not displayed in the item tags below if multiple techniques are involved to preserve space. However, you can use them to narrow down your search.
.tab-pane.fade#analysis(role='tabpanel' aria-labelledby='analysis-tab')
    .keyword-category
        +portfolioButton('Differential Expression')
        +portfolioButton('Functional Enrichment')
        +portfolioButton('Overlap Enrichment Analysis')
        +portfolioButton('Variant Calling')
        +portfolioButton('Motif Enrichment')
        +portfolioButton('Quality Control')
        +portfolioButton('Data Integration')
        +portfolioButton('Visualization')
.tab-pane.fade#tool(role='tabpanel' aria-labelledby='tool-tab')
    .keyword-category
        +portfolioButton('DESeq2')
        +portfolioButton('Samtools')
        +portfolioButton('Bedtools')
        +portfolioButton('R')
        +portfolioButton('Python')
        +portfolioButton('IGV')
        +portfolioButton('g:Profiler')
        +portfolioButton('MultiQC')
        +portfolioButton('deepTools')
    p Tools are not displayed in the item tags below if multiple tools are involved to preserve space. However, you can use them to narrow down your search.
.tab-pane.fade#application(role='tabpanel' aria-labelledby='application-tab')
    .keyword-category
        +portfolioButton('Clinical Research')
        +portfolioButton('Environmental Studies')
        +portfolioButton('Agricultural Genomics')
        +portfolioButton('Cancer Research')
.tab-pane.fade#organism(role='tabpanel' aria-labelledby='organism-tab')
    .keyword-category
        +portfolioButton('Homo sapiens')
        +portfolioButton('Mus musculus')
        +portfolioButton('Drosophila melanogaster')
        +portfolioButton('Saccharomyces cerevisiae')
        +portfolioButton('Non Model Organism')