    /* Add to css/freelancer.min.css or your custom CSS file */

    .keyword-category h5 {
        font-size: 1.1rem;
        margin-bottom: 5px;
        color: #2c3e50; /* Adjust heading color */
    }

    .keyword-category button {
        margin: 3px;
    }

    .keyword-categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribute categories evenly */
    }

    .keyword-category {
        /* width: 31%; Adjust width to fit 3 categories side by side */
        margin: 10px;
        text-align: center;
    }
    .keyword-category h5 {
        font-size: 1.1rem;
        margin-bottom: 5px;
        color: #2c3e50; /* Adjust heading color */
    }

    .keyword-category button {
        margin: 3px;
    }

    .keywords {
        font-size: 0.8rem; /* Adjust the font size as needed */
        color: #ffffff; /* Change the color to white */
        margin-top: 0.5rem; /* Add some space above the keywords */
        text-align: center; /* Center align the keywords */
        line-height: 1.5; /* Add line height to increase vertical spacing */
    }

    .keywords span {
        display: inline-block;
        margin: 0.1rem; /* Reduce space between keywords */
        padding: 0.1rem 0.3rem; /* Increase lateral padding to increase background color space */
        background-color: #1abc9c; /* Add a background color */
        border-radius: 0.2rem; /* Increase rounded corners */
    }
    .keywords .hidden {
        display: none;
    }
    
