+portfolioButton('Differential Expression')
+portfolioButton('Functional Enrichment')
+portfolioButton('Overlap Enrichment Analysis')
+portfolioButton('Variant Calling')
+portfolioButton('Motif Enrichment')
+portfolioButton('Quality Control')
+portfolioButton('Sample Mislabeling')
+portfolioButton('Data Integration')
+portfolioButton('Visualization')