+portfolioButton('Differential Expression')
+portfolioButton('Isoform Quantification')
+portfolioButton('Functional Enrichment')
+portfolioButton('Overlap Enrichment Analysis')
+portfolioButton('Cell Type Deconvolution')
+portfolioButton('Variant Calling')
+portfolioButton('Motif Enrichment')
+portfolioButton('Quality Control')
+portfolioButton('Sample Mislabeling')
+portfolioButton('Data Integration')
+portfolioButton('Unsupervised Classification')
+portfolioButton('Supervised Classification')
+portfolioButton('Visualization')