+portfolioButton('Benchmarking')
+portfolioButton('Cell Clustering')
+portfolioButton('Cell Type Deconvolution')
+portfolioButton('Cell Type Identification')
+portfolioButton('Cell-Cell Interaction Analysis')
+portfolioButton('Data Integration')
+portfolioButton('Differential Analysis')
+portfolioButton('Functional Enrichment')
+portfolioButton('Isoform Quantification')
+portfolioButton('Motif Enrichment')
+portfolioButton('Overlap Enrichment Analysis')
+portfolioButton('Pseudotime Analysis')
+portfolioButton('Quality Control')
+portfolioButton('Sample Mislabeling')
+portfolioButton('Supervised Classification')
+portfolioButton('Trajectory Inference')
+portfolioButton('Unsupervised Classification')
+portfolioButton('Variant Calling')
+portfolioButton('Visualization')
