+portfolioButton('ATAC-Seq')
+portfolioButton('ChIP-Seq')
+portfolioButton('CITE-Seq')
+portfolioButton('EM-Seq')
+portfolioButton('Hi-C')
+portfolioButton('MNase-Seq')
+portfolioButton('OGM')
+portfolioButton('RNA-Seq')
+portfolioButton('RRBS')
+portfolioButton('scRNA-Seq')
+portfolioButton('smRNA-Seq')
+portfolioButton('WES')
+portfolioButton('WGBS')
+portfolioButton('WGS')