+portfolioButton('Bedtools')
+portfolioButton('deepTools')
+portfolioButton('DESeq2')
+portfolioButton('g:Profiler')
+portfolioButton('Hail')
+portfolioButton('IGV')
+portfolioButton('MultiQC')
+portfolioButton('Python')
+portfolioButton('R')
+portfolioButton('Samtools')