// Career Tab
.tab-pane.fade#career(role="tabpanel" aria-labelledby="career-tab")
    p.mb-4 Below is a summary of my professional experience, highlighting key roles, projects, and achievements.
    ul.list-unstyled
      li.mb-3
        strong Feb. 2021 – Present:
        | Research engineer, AP-HP Necker Onco-Hematology lab, Paris, France
        ul
          li Tailored analyses of high-throughput sequencing data to support the research activity of the team of Vahid Asnafi.
          li Routine and custom-made analyses of high-throughput sequencing experiments (RNA‑Seq, ChIP-Seq, OGM, WGS, WES, HiC, scRNA-Seq) from raw data to tailored reports.
          li Development of an interactive data visualization tool in Shiny to allow the team to explore and interpret their data effectively.
          li Data management of the lab’s sequencing data.
          li Co-writing of 5 peer-reviewed articles.
      li.mb-3
        strong Jan. 2018 – Present:
        | Freelance bioinformatician
        ul
          li Tailored analyses of high-throughput sequencing data.
          li Routine and custom-made analyses of high-throughput sequencing experiments (RNA‑Seq, ChIP-Seq, WES, smRNA-Seq) from raw data to tailored reports.
      li.mb-3
        strong May 2015 – Jan. 2018 & May 2018 – July 2018 & Jan. 2019 – Sept. 2019:
        | Research engineer, Inserm U1090 TAGC, Marseille, France
        ul
          li Development of a reproducible, scalable, and automated analysis workflow written in Python/Snakemake for the integration of raw data from high-throughput sequencing technologies (mainly Illumina) available in-house and on public archives (SRA, EGA).
          li Development of Python/R tools for the analysis of high-throughput sequencing data. Team of four developers.
          li Routine and custom-made analyses of high-throughput sequencing experiments (mainly RNA‑Seq, ChIP-Seq, MNase‑Seq, ATAC-Seq, WGBS) from raw data to tailored reports.
          li Supervision of 2 interns and training of students and collaborators on good practices for bioinformatic analyses.
          li Co-writing of 9 peer-reviewed articles.
      li.mb-3
        strong Feb. 2014 – August 2014:
        | Placement Student, Discovery Sciences Chemistry Innovation Centre, Computational Chemistry Group, AstraZeneca, Alderley Park, England
        ul
          li Assessing the performance of main binding affinity prediction techniques in a hit-to-lead context: Comparison of docking score, MM-GBSA, and Free Energy Perturbation.
          li Development of a 3D chemical visualizer for protein-ligand complexes running in standard, modern web browsers without plugins or extensions.
      li.mb-3
        strong Feb. 2013 – March 2013 & July 2013:
        | Research Intern, Laboratory of Integrative Structural & Chemical Biology (iSCB), CNRS, Marseille, France
        ul
          li In silico study of the measles virus NTAIL/XD complex using molecular dynamics and modeling.