// Education Tab
.tab-pane.fade#education(role="tabpanel" aria-labelledby="education-tab")
    //- p.mb-4 Below is a summary of my academic background, highlighting key degrees, projects, and achievements.
    ul.list-unstyled
      li.mb-3
        strong Dec. 2015 – Oct. 2019:
        | Ph.D. in Bioinformatics, Doctoral school of Aix-Marseille University
        a(href="https://dl.dropboxusercontent.com/s/fzd1haofzpm7w4u/these_2019_09_17.pdf" target="_blank") (link to the thesis)
        //- ul
        //-   li Development of bioinformatic approaches to decipher post-meiotic male genome programming.
      li.mb-3
        strong Sept. 2012 – Jan. 2015:
        | Master of Science in Management, KEDGE Business School (formerly Euromed), Marseille, France
        //- ul
        //-   li Significant team work project: Consulting mission for Sartorius Stedim Biotech, Antibody-drug conjugate market study and analysis in order to determine the company supply adequacy to current and future demand, 5-month project, team of 6 people.
      li.mb-3
        strong Sept. 2011 – Sept. 2014:
        | Master of Science in Biological Engineering, Polytech Marseille (College of Engineering of Aix-Marseille University, formerly ESIL), Marseille, France
        //- ul
        //-   li Bibliographic report on the Next-Generation Sequencing technologies and market study of personal genomics, 2-month project, team of 3 people.
        //-   li Theoretical creation of a start-up, development and production of two recombinant therapeutic proteins in yeast and bacteria, definition of the entire biotechnological concept, market study, 4-month project, team of 4 people.
      li.mb-3
        strong Sept. 2013 – Sept. 2014:
        | Master of Science in Bioinformatics, Structural Biochemistry and Genomics, Faculty of Science of Aix-Marseille University, Marseille, France
        //- ul
        //-   li Significant courses: Statistical analysis of genomic data, Graphs and networks of biological interactions, Bioinformatics methods for cis-regulation.
        //-   li Significant project: Article synthesis and oral presentation about personal Omics profiling.
      li.mb-3
        strong Sept. 2009 – June 2011:
        | CPGE BCPST (Selective preparatory classes for Engineering Schools), Masséna High School, Nice, France
      li.mb-3
        strong Sept. 2006 – June 2009:
        | French High School, majoring in science “S” specialty Biology-Mathematics, Baccalauréat with highest honors, Guillaume Apollinaire High School, Nice, France