// Publications Tab
.tab-pane.fade#publications(role="tabpanel" aria-labelledby="publications-tab")
    p.mb-4 While many of my professional projects remain confidential due to client agreements, the following publications showcase a fraction of my bioinformatics expertise. As a freelance professional, I offer the flexibility of contributing substantially to your research without the requirement for authorship or citation, allowing you to maintain full ownership of your work.
    ul.list-unstyled
      li.mb-3
        strong
          | Mokhtari A, Ibrahim EC, Gloaguen A, Barrot CC, Cohen D, Derouin M, Vachon H,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Loriod B, Decraene C, Yalcin I, Marie-Claire C, Etain B, Belzeaux R, Delahaye-Duriez A, Lutz PE.
        br
        | Using multiomic integration to improve blood biomarkers of major depressive disorder: a case-control study. EBioMedicine. 2025 Mar;113:105569.
        a(href="https://doi.org/10.1016/j.ebiom.2025.105569" target="_blank") doi: 10.1016/j.ebiom.2025.105569
      li.mb-3
        strong
          | Courtois L, Pinton A, Cabannes-Hamy A, Simonin M, Andrieu GP, Queri M, Smith C,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Dourthe ME, Courgeon M, Huré G, Gaidot N, Macintyre EA, Dombret H, Baruchel A, Boissel N, Touzart A, Lhermitte L, Rousselot P, Asnafi V.
        br
        | Surface pTα expression predicts LCK activation and preclinical synergy of LCK and JAK coinhibition in adult T-ALL. Blood Journal. 2025 Feb.
        a(href="https://doi.org/10.1182/blood.2024027982" target="_blank") doi: 10.1182/blood.2024027982
      li.mb-3
        strong
          | Hussain S, Sadouni N, van Essen D, Dao LTM, Ferré Q,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Torres M, Gallardo F, Lecellier CH, Sexton T, Saccani S, Spicuglia S.
        br
        | Short tandem repeats are important contributors to silencer elements in T cells. Nucleic Acids Research. 2023 Mar;51:4845–4866.
        a(href="https://doi.org/10.1093/nar/gkad187" target="_blank") doi: 10.1093/nar/gkad187
      li.mb-3
        strong
          | Courtois L, Cabannes-Hamy A, Kim R, Delecourt M, Pinton A,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Féroul M, Smith C, Tueur G, Pivert C, Balducci E, Simonin M, Angel LH, Spicuglia S, Boissel N, Andrieu GP, Asnafi V, Rousselot P, Lhermitte L.
        br
        | IL7-receptor expression is frequent in T-cell acute lymphoblastic leukemia and predicts sensitivity to JAK-inhibition. Blood. 2023 Apr.
        a(href="https://doi.org/10.1182/blood.2022017948" target="_blank") doi: 10.1182/blood.2022017948
      li.mb-3
        strong
          | Miallot R, Millet V, Roger A, Fenouil R, Tardivel C, Martin JC, Tranchida F, Shintu L, Berchard P, Sousa Lanza J, Malissen B, Henri S, Ugolini S, Dutour A, Finetti P, Bertucci F, Blay JY, Galland F, Naquet P.
        br
        em
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G
          | acknowledged for the bioinformatics analyses of the TCGA database.
        br
        | The coenzyme A precursor pantethine enhances antitumor immunity in sarcoma. Life Science Alliance. 2023 Oct;6(12):e202302200.
        a(href="http://dx.doi.org/10.26508/lsa.202302200" target="_blank") doi: 10.26508/lsa.202302200
      li.mb-3
        strong
          | Belhocine M, Simonin M, Abad Flores JD, Cieslak A, Manosalva I, Pradel L, Smith C, Mathieu EL,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Martens JHA, Stunnenberg HG, Maqbool MA, Mikulasova A, Russell LJ, Rico D, Puthier D, Ferrier P, Asnafi V, Spicuglia S.
        br
        | Dynamics of broad H3K4me3 domains uncover an epigenetic switch between cell identity and cancer-related genes. Genome Research. 2021 Jun;32:1328–1342.
        a(href="https://doi.org/10.1101/gr.266924.120" target="_blank") doi: 10.1101/gr.266924.120
      li.mb-3
        strong
          | Santiago-Algarra D, Souaid C, Singh H, Dao LTM, Hussain S, Medina-Rivera A, Ramirez-Navarro L, Castro-Mondragon JA, Sadouni N,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Spicuglia S.
        br
        | Epromoters function as a hub to recruit key transcription factors required for the inflammatory response. Nature Communications. 2021 Nov;12:1.
        a(href="https://doi.org/10.1038/s41467-021-26861-0" target="_blank") doi: 10.1038/s41467-021-26861-0
      li.mb-3
        strong
          | Ibrahim EC, Gorgievski V, Ortiz-Teba P, Belzeaux R, Turecki G, Sibille E,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Tzavara ET.
        br
        | Transcriptomic Studies of Antidepressant Action in Rodent Models of Depression: A First Meta-Analysis. International Journal of Molecular Sciences. 2022 Nov;23(21):13543.
        a(href="https://doi.org/10.3390/ijms232113543" target="_blank") doi: 10.3390/ijms232113543
      li.mb-3
        strong
          | Miallot R, Galland F, Millet V, Blay JY, Naquet P.
        br
        em
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G
          | acknowledged for the bioinformatics analyses of the TCGA database.
        br
        | Metabolic landscapes in sarcomas. Journal of Hematology & Oncology. 2021 Jul;14(1):125.
        a(href="https://doi.org/10.1186/s13045-021-01125-y" target="_blank") doi: 10.1186/s13045-021-01125-y
      li.mb-3
        strong
          | Andrieu GP, Kohn M, Simonin M, Smith C, Cieslak A, Dourthe ME,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Graux C, Rigal-Huguet F, Lheritier V, Dombret H, Spicuglia S, Rousselot P, Boissel N, Asnafi V.
        br
        | PRC2 loss of function confers a targetable vulnerability to BET proteins in T-ALL. Blood. 2021 Jun.
        a(href="https://doi.org/10.1182/blood.2020010081" target="_blank") doi: 10.1182/blood.2020010081
      li.mb-3
        strong
          | Cieslak A,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Tesio M, Mathieu EL, Belhocine M, Touzart A, Smith C, Hypolite G, Andrieu GP, Martens JHA, Janssen-Megens E, Gut M, Gut I, Boissel N, Petit A, Puthier D, Macintyre E, Stunnenberg HG, Spicuglia S, Asnafi V.
        br
        | Blueprint of human thymopoiesis reveals molecular mechanisms of stage-specific TCR enhancer activation. Journal of Experimental Medicine. 2020 Jul;217(9).
        a(href="https://doi.org/10.1084/jem.20192360" target="_blank") doi: 10.1084/jem.20192360
      li.mb-3
        strong
          | Maqbool MA, Pioger L, El Aabidine AZ, Karasu N, Molitor AM, Dao LTM,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | van Laethem F, Fenouil R, Koch F, Lacaud G, Gut I, Gut M, Amigorena S, Joffre O, Sexton T, Spicuglia S, Andrau JC.
        br
        | Alternative Enhancer Usage and Targeted Polycomb Marking Hallmark Promoter Choice during T Cell Differentiation. Cell Reports. 2020 Aug;32(7):108048.
        a(href="https://doi.org/10.1016/j.celrep.2020.108048" target="_blank") doi: 10.1016/j.celrep.2020.108048
      li.mb-3
        strong
          | Alomairi J, Molitor AM, Sadouni N, Hussain S, Torres M, Saadi W, Dao LTM,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Santiago-Algarra D, Andrau JC, Puthier D, Sexton T, Spicuglia S.
        br
        | Integration of high-throughput reporter assays identify a critical enhancer of the Ikzf1 gene. PLOS ONE. 2020 May;15(5):e0233191.
        a(href="https://doi.org/10.1371/journal.pone.0233191" target="_blank") doi: 10.1371/journal.pone.0233191
      li.mb-3
        strong
          | Hoghoughi N, Barral S, Curtet S, Chuffart F,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Puthier D, Buchou T, Rousseaux S, Khochbin S.
        br
        | RNA-Guided Genomic Localization of H2A.L.2 Histone Variant. Cells. 2020 Feb;9(2):474.
        a(href="https://doi.org/10.3390/cells9020474" target="_blank") doi: 10.3390/cells9020474
      li.mb-3
        strong
          | Ferré Q,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Sadouni N, Lopez F, Kermezli Y, Spicuglia S, Capponi C, Ghattas B, Puthier D.
        br
        | OLOGRAM: determining significance of total overlap length between genomic regions sets. Bioinformatics. 2019 Nov;36(6):1920–1922.
        a(href="https://doi.org/10.1093/bioinformatics/btz810" target="_blank") doi: 10.1093/bioinformatics/btz810
      li.mb-3
        strong
          | Lopez F,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Kermezli Y, Belhocine M, Ferré Q, Zweig N, Aribi M, Gonzalez A, Spicuglia S, Puthier D.
        br
        | Explore, edit and leverage genomic annotations using Python GTF toolkit. Bioinformatics. 2019 Feb;35(18):3487–3488.
        a(href="https://doi.org/10.1093/bioinformatics/btz116" target="_blank") doi: 10.1093/bioinformatics/btz116
      li.mb-3
        strong
          | Shiota H, Barral S, Buchou T, Tan M, Couté Y,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Reynoird N, Boussouar F, Gérard M, Zhu M, Bargier L, Puthier D, Chuffart F, Bourova-Flin E, Picaud S, Filippakopoulos P, Goudarzi A, Ibrahim Z, Panne D, Rousseaux S, Zhao Y, Khochbin S.
        br
        | Nut Directs p300-Dependent, Genome-Wide H4 Hyperacetylation in Male Germ Cells. Cell Reports. 2018 Sep;24(13):3477-3487.e6.
        a(href="https://doi.org/10.1016/j.celrep.2018.08.069" target="_blank") doi: 10.1016/j.celrep.2018.08.069
      li.mb-3
        strong
          | Dao LTM, Galindo-Albarrán AO, Castro-Mondragon JA, Andrieu-Soler C, Medina-Rivera A, Souaid C,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Griffon A, Vanhille L, Stephen T, Alomairi J, Martin D, Torres M, Fernandez N, Soler E, van Helden J, Puthier D, Spicuglia S.
        br
        | Genome-wide characterization of mammalian promoters with distal enhancer functions. Nature Genetics. 2017 Jun;49(7):1073–1081.
        a(href="https://doi.org/10.1038/ng.3884" target="_blank") doi: 10.1038/ng.3884
      li.mb-3
        strong
          | Barral S, Morozumi Y, Tanaka H, Montellier E, de Dieuleveult M,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Couté Y, Puthier D, Buchou T, Boussouar F, Urahama T, Fenaille F, Curtet S, Héry P, Fernandez-Nunez N, Shiota H, Gérard M, Rousseaux S, Kurumizaka H, Khochbin S.
        br
        | Histone Variant H2A.L.2 Guides Transition Protein-Dependent Protamine Assembly in Male Germ Cells. Molecular Cell. 2017 Apr;66(1):89-101.e8.
        a(href="https://doi.org/10.1016/j.molcel.2017.02.025" target="_blank") doi: 10.1016/j.molcel.2017.02.025
      li.mb-3
        strong
          | Goudarzi A, Zhang D, Huang H, Barral S, Kwon OK, Qi S, Tang Z, Buchou T, Vitte AL, He T, Cheng Z, Montellier E, Gaucher J, Curtet S, Debernardi A,
          a(href="https://orcid.org/0000-0001-5615-1287" target="_blank") Charbonnier G,
          | Puthier D, Petosa C, Panne D, Rousseaux S, Roeder RG, Zhao Y, Khochbin S.
        br
        | Dynamic Competing Histone H4 K5K8 Acetylation and Butyrylation Are Hallmarks of Highly Active Gene Promoters. Molecular Cell. 2016 Apr;62(2):169–180.
        a(href="https://doi.org/10.1016/j.molcel.2016.03.014" target="_blank") doi: 10.1016/j.molcel.2016.03.014
      li.mb-3
        strong
          | Jean-Pierre R, Roperch J, Charbonnier G, Figiel S, Lamb A, Mills I, Hennion C, Cancel-Tassin G, Cussenot O.
        br
        | Multiple Highly Methylated CpG Sites as Potential Epigenetic Markers for the Diagnosis of Prostate Cancer. MDPI AG. 2024 Dec.
        a(href="http://dx.doi.org/10.20944/preprints202412.2005.v1" target="_blank") doi: 10.20944/preprints202412.2005.v1
