// Skills Tab
.tab-pane.fade#skills(role="tabpanel" aria-labelledby="skills-tab")
    p.mb-4 Below is a summary of my technical and professional skills, categorized into key areas of expertise.
    ul.list-unstyled
      li.mb-3
        strong Computer Science:
        ul
          li Computer administration: Linux (mainly Ubuntu), Windows, Docker, Conda.
          li Computer programming: Bash, Python, R, Shiny, Linux Coreutils, Git <a href="https://github.com/guillaumecharbonnier" target="_blank">(See my GitHub)</a>.
          li Web development: HTML5, CSS3, Javascript, Django, Bootstrap.
          //- li Cloud Computing: Experience with AWS, Google Cloud, or Azure for scalable bioinformatics workflows.
          //- li Database Management: Proficiency in SQL, NoSQL (e.g., MongoDB), and database design for biological data storage.
          //- Version Control: Advanced Git workflows, including branching strategies and CI/CD pipelines.
      li.mb-3
        strong Bioinformatics:
        ul
          li Workflow management: Nextflow, Galaxy, Snakemake  
            <a href="https://github.com/guillaumecharbonnier/mw-lib/tree/master/src/snakemake/rules" target="_blank">(See my public Snakemake rules)</a>.
          li Read alignment: STAR, Bowtie, BWA, TopHat, Blast.
          li Quality control: FastQC, Qualimap, FastQ Screen, MultiQC, RSeQC, phantomPeak.
          li Peak-callers: MACS, SICER, Danpos.
          li Processing: Samtools, Bedtools, pygtftk, Picard, ChromHMM.
          li Differential expression: DESeq2, EdgeR, GFOLD, RGT-THOR.
          li Differential binding: DiffBind, ChIPDiff, MAnorm.
          li Functional enrichment: ORA, GSEA, ssGSEA, GSVA, rGREAT, clusterProfiler, GOSemSim.
          li Statistics: R/Bioconductor.
          li Machine learning: scikit-learn, pycaret. 
          // TensorFlow, PyTorch
          li Multi-omics Integration: mixOmics, custom strategies.
          li Visualization: R/ggplot2, IGV, DeepTools, JavaTreeView.
          li Network analysis: Cytoscape, NeAT, GINsim.
          //- li Metagenomics: QIIME2, Kraken, MetaPhlAn.
      li.mb-3
        strong Cheminformatics:
        ul
          //- li Protein structure prediction: AlphaFold, Rosetta
          li Molecular Modeling: Maestro, VMD, Pymol, MOE, SYBYL-X.
          li Molecular Dynamics: CHARMM, NAMD, GROMACS, ACEMD, Desmond.
          li Drug Design: Schrödinger suite.
          //- li QSAR Modeling: Quantitative structure-activity relationship modeling for drug discovery.
          //- li Virtual Screening: Expertise in high-throughput virtual screening for drug candidates.
          //- li ADMET Prediction: Tools for absorption, distribution, metabolism, excretion, and toxicity prediction.
      li.mb-3
        strong Engineering skills:
        ul
          li Protocols, reports and slides writing: ipynb, LaTeX, R-Markdown/knitr, Office, LibreOffice.
          li Image editing: GIMP, Inkscape.
          li Project and Team Management: Agile methods.
      li.mb-3
        strong Language skills:
        ul
          li English: Professional working proficiency (TOIEC 910/990).
          li Italian: Professional working proficiency (CECR 760/800).
          li French: Mother tongue.