// Summary Tab
.tab-pane.fade.show.active#summary(role="tabpanel" aria-labelledby="summary-tab")
    .row
        .col-lg-4.ms-auto
            p.lead As a bioinformatician with over ten years of experience in academic and CRO environments, I specialize in transforming complex biological data into actionable insights. My expertise spans genomics, transcriptomics, epigenomics, and beyond, with a strong focus on reproducible and scalable high-throughput solutions tailored to diverse research needs.
        .col-lg-4.me-auto
            p.lead I offer a wide range of services, including data preprocessing, advanced statistical analyses, multi-omics integration, custom pipeline development, and the creation of interactive visualization tools. Whether you need routine analyses or tailored support, I can assist you at every stage—from data generation to visualization and publication-ready results.
        .col-lg-4.me-auto
            p.lead I provide flexible solutions to meet your unique research needs. I also offer the option to work under confidentiality agreements, ensuring your intellectual property remains protected. Let’s collaborate to turn your data into impactful discoveries and drive your research forward. Feel free to contact me using the form below to discuss your project in detail.